
  <head>

    <title>{% if page.url == "/" %}Design Systems Repo | A Collection of Design System Resources{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>

    <!-- META
    ================================ -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Jad Limcaco">
    <meta name="robots" content="index,follow,archive">
    <meta property="og:locale" content="en_us">
    <meta property="og:title" content="Design Systems Repo">
    <meta property="og:url" content="https://designsystemsrepo.com/">
    <meta property="og:site_name" content="Design Systems Repo">
    <meta property="og:type" content="website">
    <meta property="og:description" content="An organized and frequently updated collection of Design System examples, resources, tools, articles and videos.">
    <meta property="og:image" content="https://designsystemsrepo.com/images/social.png">
    <meta property="og:image:type" content="image/png"
    <meta property="og:image:width" content="1500">
    <meta property="og:image:height" content="750">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@jadlimcaco">
    <meta name="twitter:url" content="https://designsystemsrepo.com/">
    <meta name="twitter:title" content="{% if page.url == "/" %}Design Systems Repo{% else %}{{ page.title }}{% endif %}">
    <meta name="twitter:description" content="An organized and frequently updated collection of Design System examples, resources, tools, articles and videos.">
    <meta name="twitter:image" content="https://designsystemsrepo.com/images/social.png">

    <!-- FAVICON / CSS / ANALYTICS
    ================================ -->
    <link rel="shortcut icon" href="{{ "images/favicon.ico" | relative_url }}">
    <link rel="apple-touch-icon" href="{{ "images/favicon.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "assets/main.css" | relative_url }}">
    <script>
    //<![CDATA[

      WebFontConfig = {
          google: {
              families: ['IBM+Plex+Mono|IBM+Plex+Sans:400,400i,600']
          }
      };

      (function(d) {
          var wf = d.createElement('script'),
              s = d.scripts[0];
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
          wf.async = true;
          s.parentNode.insertBefore(wf, s);
      })(document);

    //]]>
    </script>

  </head>