
/*==========================
— S U B T R A C T
----------------------
Version 2

http://getsubtract.com
============================*/

/*============================================================
GLOBAL STYLES
==============================================================*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  background: #f9f9fb;
  color: #0C0D0D;
  font: 1.6rem/1 'IBM Plex Sans', sans-serif;
}

@media screen and (max-device-width: 720px) {

  /* Change Color of Tap Highlight in Touch Devices */
  html { -webkit-tap-highlight-color: rgba(0,0,0,.5); }
  body { -webkit-text-size-adjust: none; }

}

/* HEADINGS
---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 600;
  line-height: 1.5;
}

h1 { font-size: 3.6rem; line-height: 1.15; }
h2 { font-size: 2.4rem; margin-bottom: 1.6rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }

/* PARAGRAPH
---------------------------------------- */
p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  text-rendering: optimizeLegibility;
  max-width: 64rem;
}

/* OTHER TAGS
---------------------------------------- */
em      { font-style: italic; }
strong  { font-weight: bold; }
small   { font-size: .75rem; }
hr {
  border-top: solid 1px #ddd;
  clear: both;
  margin: 1rem 0;
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

/* LINKS
---------------------------------------- */
a {
  color: #2b85cb;
  text-decoration: none;
  -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
}
a:hover { color: #1069ad; }

/* SELECTION
---------------------------------------- */
::selection {
  background: #333;
  color: #fff;
}
::-moz-selection {
  background: #333;
  color: #fff;
}

/*============================================================
HEADER
============================================================*/
.site-header {
  background: #13161F;
  width: 100%;
}
.site-title {
  margin-bottom: 0;

}
.site-title img {
  max-width: 100%;
  height: auto;
  width:6rem;
}
.logo-sm {
  display:none;
}
.site-header .wrapper {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  overflow: hidden;
}
.nav {
  text-align: center;
  display: flex;
}
.nav li { display:flex; }
.nav li a {
  display: inline-block;
  color: #fff;
  margin-left: 4rem;
  font-size: 1.8rem;
  align-self: center;

}
.nav li a:hover {
  color: #73D6FF;
}
.submit { 
  width:36px;
}
.submit svg {
  width: 100%;
  height: auto;
}
.submit svg circle {
  transition: fill 200ms ease;
}
.submit:hover svg circle {
  fill: #73D6FF;
}
.submit span { display: none; }
.nav li a.active {
  color: #73FFE1;
}
.pull {
  display: none;
  text-indent: -9999px;
}
.post-header {
  width: 100%;
  margin: 0 auto 8rem;
  background: #fff;
  border-bottom: solid 1px #efefef;
}

/*============================================================
CONTENT
============================================================*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.body-wrap {
  flex: 1 0 auto;
}
.footer-wrap {
  flex-shrink: 0;
}

.post-head-wrap {
  max-width: 104rem;
  width: 100%;
  padding: 8rem 2.4rem 6rem;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.home-secondary-wrap {
  background:#fff;
  border: solid 1px #efefef;
}
.home-secondary {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
  max-width: 140rem;
  width: 100%;
  padding:0 2.4rem;
  margin: 0 auto;
}
.secondary-tile {
  display: flex;
  padding: 6rem 2.4rem;
  border-left: solid 1px #efefef;
  border-right: solid 1px #efefef;
  align-items: flex-start;
}
.secondary-tile:first-child {
  border-right: 0;
  border-left: 0;
}
.secondary-tile:last-child {
  border-right: 0;
  border-left: 0;
}
.secondary-tile-img {
  width:48px;
  height:48px;
  margin-right:2rem;
  margin-top: 6px;
}
.secondary-tile img {
  width: 100%;
  height: auto;
}
.secondary-tile h2 {
  color: #0C0D0D;
  margin-bottom:.4rem;
  transition: color 200ms ease;
}
.secondary-tile p {
  font-size: 1.4rem;
  color: #0C0D0D;
}
.secondary-tile h2 span {
  display: inline-block;
  transition: transform 200ms ease;
}
.secondary-tile:hover h2 { color: #69C7F1;}
.secondary-tile:hover h2 span { transform: translateX(3px); }

.page-about-wrap {
  max-width: 104rem;
  width: 100%;
  padding:0 2.4rem 6rem;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.about-connect {
  width: 30rem;
  padding-left: 4rem;
}
.about-connect li a {
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: solid 1px #E3E4E8;
  display: block;
}
.about-connect svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 4px;
    position: relative;
    top: 2px;
}
.about-connect path { fill: #787C80; }
.about-connect .twitter:hover path { fill: #1da1f2; }
.about-connect .github:hover path { fill: #333; }
.about-connect .dribbble:hover path { fill: #ea4c89; }

.illustration {
  width: 22rem;
  height: auto;
  margin-left: 4rem;
}
.page-content { 
  width: 100%;
  margin: 0 auto;
}
.post-content {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fill,minmax(40rem, 1fr));
  grid-column-gap: 4rem;
  grid-auto-rows: 1fr;
  max-width: 140rem;
  width: 100%;
  padding: 0 2.4rem;
  margin: 0 auto 9.6rem;
}
.post-books .post-content {
    grid-template-columns: repeat(auto-fill,minmax(24rem, 1fr));
  }
.post-content.content-ds {
    grid-gap: 2.4rem;
    grid-template-columns: 18rem repeat(auto-fill,minmax(28rem, 1fr));
    margin-bottom: 10rem;
  }
.post-content.content-articles {
    grid-gap: 2.4rem;
    grid-template-columns: 18rem repeat(auto-fill,minmax(28rem, 1fr));
  }  
h1.post-title {
  margin-bottom: 2rem;
}
.block {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(10, 16, 34, .08);
  color: #1b1b1b;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
          transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
          transition: transform 0.2s ease, box-shadow 0.2s ease;
          transition: transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  will-change: transform, box-shadow;
}
.block:hover {
  -webkit-box-shadow: 0 16px 32px 0 rgba(10, 16, 34,0.20), 0 0 0 transparent;
          box-shadow: 0 16px 32px 0 rgba(10, 16, 34,0.20), 0 0 0 transparent;
  -webkit-transform: translateY(-5px) translateZ(0);
          transform: translateY(-5px) translateZ(0);
}
.content-ds .title {
  background-image: linear-gradient(-180deg, #B973FF 0%, #804BB5 100%);
}
.content-articles .title {
  background-image: linear-gradient(-180deg, #73D6FF 0%, #028BCC 100%);
}
.content-articles .block-home .content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.post-articles .content { 
  display: flex;
  flex-direction: column;
  height: 100%;
 }
.post-articles .clamp {
  flex-grow: 1;
}
.date {
  opacity:0.8;
  font-size: 1.3rem;
  padding-top: 1.2rem;
  margin-top: 2rem;
  border-top: solid 1px #E4E4EB;
}
.button {
  background: #73FFE1;
  display: inline-block;
  padding: .8rem 1.4rem;
  border-radius: 6px;
  font-weight: 600;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: background 200ms ease;
          transition: background 200ms ease;
}
.title:hover .button { 
  background: #53E9C9;
}
.title h1 {
  color: #fff;
  line-height: 1.10;
  margin: 2rem 0;
  font-size: 2.4rem;
}
.block.block-home h2 {
  font-size: 1.8rem;
  margin-bottom: 0;
  flex-grow: 1;
}
.block.block-home .content {
  padding:2rem 2.4rem;
}
.block.title img {
  max-width: 6.4rem;
}
.block:hover,
.block:focus {
  color: #1b1b1b;
}
.block img { 
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.block .content {
  padding:2.4rem 2.8rem 3.2rem;
}
.block p {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.65;
  opacity: 0.85;
}
.block h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.block h3 {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  margin: 0 0 .6rem;
  opacity: 0.72;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-wrap {
  border-radius: 6px 6px 0 0;
  width: 100%;
  overflow: hidden;
  display: block;
  border-bottom: solid 1px #f1f1f1;
  line-height: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black); 
}
.filter {
  width: 100%;
  max-width: 140rem;
  text-align: center;
  padding: 0 2.4rem;
  margin: -3.2rem auto 6rem;
}
.filter li {
  display: inline-block;
  margin-right:2px;
}
.filter li.active a {
  background: #804BB5;
  color: #fff;
  box-shadow: none;
}
.filter li a {
  display: inline-block;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.05);
  color: #1b1b1b;
  display: block;
  display: inline-block;
  font-size: 1.3rem;
  padding: 1rem;
  min-width: 12rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin-bottom: 4px;
}
.filter li:last-child { margin-right: 0; }
.badge {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  border-radius: 2px;
  padding: 3px 6px;
  margin-bottom: 1.2rem;
}
.badge.Sketch.File {
  background: #FCA900;
}
.badge.Plugin {
  background: #36D0AF;
}

.footer-wrap {
  display: block;
  background: #0C0D0D;
  overflow: hidden;
}
.footer-border {
  height: 6px;
  background:url("/images/footer.svg") center top repeat-x;
  display: block;
}
.footer {
  max-width: 140rem;
  width: 100%;
  padding: 4rem 2.4rem;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.footer span {
  color: #919696;
}
.footer span a {
  color: #73FFE1;
  padding-right: 4px;
}
.number {
  margin-left: 4px;
  opacity: .65;
}


/*============================================================
RESPONSIVE
============================================================*/

/* SCREENS (960px)
---------------------------------------- */
@media only screen and (max-width: 1199px) {

  .post-content.content-ds,
  .post-content.content-articles {
    grid-template-columns: 18rem repeat(auto-fit,minmax(21rem, 1fr));
  } 

}


/* SCREENS (720px)
---------------------------------------- */
@media only screen and (min-width: 720px) and (max-width: 959px) {

  html { font-size: 59%; }

  .nav li a {
    margin-left: 2.4rem;
  }
  .nav li:last-child a {
    margin-left: 4rem;
  }

  .post-content.content-ds,
  .post-content.content-articles {
    grid-template-columns: repeat(auto-fill,minmax(32rem, 1fr));
  }

  .post-content {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(auto-fill,minmax(30rem, 1fr));
  }

  .secondary-tile {
    display: block;
  }
  .secondary-tile-img {
    margin-bottom:.8rem;
  }

}

/* MOBILE (719px or Less)
---------------------------------------- */
@media only screen and (max-width: 719px) {

  html { font-size: 57%; }

  .site-header {
    position: fixed;
    z-index: 100;
  }

  .post-content.content-ds,
  .post-content.content-articles {
    grid-template-columns: repeat(auto-fill,minmax(24rem, 1fr));
    margin-bottom:4rem;
  }

  .post-content {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(auto-fill,minmax(30rem, 1fr));
  }

  .site-title img {
    width: 12rem;
    line-height: 0;
  }
  .logo-lg {
    display: none;
  }
  .logo-sm {
    display: inline-block;
  }
  .submit {
    width: 100%;
  }
  .submit span {
    display: inline-block;
  }
  .submit svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 12px;
  }

   /* Responsive Nav */
  .site-header .wrapper {
    display: block;
    padding: 0;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-title {
    float: left;
    padding-left: 2.4rem;
  }
  .responsive-nav {
    position: relative;
  }
  .pull {
    display: block;
    float: right;
    margin: 0 0 0 0;
    background: none;
    border: none;
    padding: 3.2rem 2.4rem;
    -webkit-transition: all 240ms ease;
            transition: all 240ms ease;
    cursor: pointer;
    user-select: none;
    outline: 0;
  }
  .lines {
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 240ms ease;
            transition: all 240ms ease;
    position: relative;
  }
  .lines:before,
  .lines:after {
    display: block;
    width: 24px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 240ms ease;
            transition: all 240ms ease;
    position: absolute;
    right: 0;
    content: '';
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
         -o-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-origin: 3rem center;
            transform-origin: 3rem center;
  }
  .lines:before {
    top: 8px;
  } 
  .lines:after {
    top: -8px;
  }
  .lines-button.close .lines {
    background: transparent;
  }
  .lines-button.close .lines:before,
  .lines-button.close .lines:after {
    top: 0;
    width: 20px;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .lines-button.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
  }
  .lines-button.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
  }
  .nav {
    display: none;
    text-align: left;
    padding-top: 2.4rem;
    clear: both;
    width: 100%;
    height: 100vh;
  }
  .nav li {
    display: block;
    border-bottom: solid 1px rgba(255,255,255,.07);
    margin: 0;
    padding: 0;
  }
  .nav li a {
    display: block;
    padding: 2rem 2.4rem;
    font-size: 2.4rem;
    color: #fff;
    margin: 0;
  }
  /* End Responsive Nav */

  .post-title {
    text-align: center;
  }
  .post-home .post-title {
    font-size: 2.4rem;
  }
  .post-head-wrap {
    flex-direction: column;
    padding: 12rem 2.4rem 2.4rem;
    align-items: center;
  }
  .post-header {
    margin: 0 auto 4rem;
  }
  .illustration {
    order: -1;
    width: 14rem;
    margin-bottom: 2.4rem;
    margin-left: auto;
    margin-right: auto;
   }
  .filter {
    margin: 0 auto 1.2rem;
    white-space: nowrap;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom:1rem;
    width: 100%;
    transform: translate3d(0,0,0);   
  }

  .page-about-wrap {
      display: block;
  }
  .about-connect, .about-credits {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 64rem;
    padding-left: 0;
  }
  .about-credits { margin-bottom: 4rem; }

  .home-secondary {
    display: block;
    padding-bottom:2rem;
  }

  .secondary-tile {
    display: flex;
    padding: 2rem 0;
    border-left: 0;
    border-right: 0;
    align-items: flex-start;
  }
  .secondary-tile:first-child {
    border-bottom: solid 1px #efefef;
  }
  .secondary-tile:last-child {
    border-top: solid 1px #efefef;
  }

}

/* MOBILE (576px or Less)
---------------------------------------- */
@media only screen and (max-width: 576px) {

  .post-content {
    display: block !important;
  }

  .block {
    margin-bottom: 2.4rem;
    width: 100%;
    display: block; 
  }

  .footer {
    display: block;
  }
  .footer span {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .footer span.coffee {
    margin-top: 2.4rem;
  }

}