---
layout: default
---

        <article class="post post-ds">

          <header class="post-header clearfix">
            <div class="post-head-wrap">
              <div class="post-head-content">
                <h1 class="post-title">{{ page.title | escape }}</h1>
                <p>A comprehensive and curated list of design systems, style guides and pattern libraries that you can use for inspiration.</p>
              </div>
              <img class="illustration" src="{{ site.baseurl }}/images/illustration-ds.svg" width="94" height="86" alt="Design System Legos" />
            </div>
          </header>

          <!-- Tags -->
          <ul class="filter">
            <li{% if page.url == "/design-systems/" %} class="active"{% endif %}><a href="/design-systems/">A-Z ({{site.design-systems | size}})</a></li>
            <li{% if page.url == "/design-systems/recent/" %} class="active"{% endif %}><a href="/design-systems/recent/">Most recent</a></li>
          </ul>

          <div class="post-content holder">
          {{ content }}
          </div>

        </article>
