---
layout: default
---

        <article class="post post-tools">

          <header class="post-header clearfix">
            <div class="post-head-wrap">
              <div class="post-head-content">
                <h1 class="post-title">Tools and Resources</h1>
                <p>An ever growing list of design and development tools and plugins to help you build, maintain, and organize your own design system.</p>
              </div>  
              <img class="illustration" src="{{ site.baseurl }}/images/illustration-tools.svg" width="94" height="86" alt="Design System Tools" />
            </div>
          </header>

          <!-- Tags -->
          <ul class="filter">
            <li{% if page.url == "/tools/" %} class="active"{% endif %}><a href="/tools/">All</a></li>
            <li{% if page.url == "/tools/design/" %} class="active"{% endif %}><a href="/tools/design/">Design</a></li>
            <li{% if page.url == "/tools/development/" %} class="active"{% endif %}><a href="/tools/development/">Development</a></li>
            <li{% if page.url == "/tools/documentation/" %} class="active"{% endif %}><a href="/tools/documentation/">Documentation</a></li>
            <li{% if page.url == "/tools/frameworks/" %} class="active"{% endif %}><a href="/tools/frameworks/">Frameworks</a></li>
            <li{% if page.url == "/tools/sketch/" %} class="active"{% endif %}><a href="/tools/sketch/">Sketch</a></li>
          </ul>

          <div class="post-content">
          {{ content }}
          </div>

        </article>
