---
layout: default
---

        <article class="post post-articles">

          <header class="post-header clearfix">
            <div class="post-head-wrap">
              <div class="post-head-content">
                <h1 class="post-title">{{ page.title | escape }}</h1>
                <p>This is not a comprehensive list of every design system that I have come across. Rather, it's a collection of ones that I personally found to be helpful and inspiring for my work.</p>
              </div>
              <img class="illustration" src="{{ site.baseurl }}/images/illustration-articles.svg" width="94" height="86" alt="Design System Articles" />
            </div>
          </header>
          
          <!-- Tags -->
          <ul class="filter">
            <li class="active"><a href="#" class="all">All</a></li>
            <li><a href="#" class="animation">Animation</a></li>
            <li><a href="#" class="design-tokens">Design Tokens</a></li>
            <li><a href="#" class="process">Process</a></li>
            <li><a href="#" class="sketch">Sketch</a></li>
          </ul>

          <div class="post-content holder">
          {{ content }}
          </div>

        </article>
